.Box {width: 320px;
    margin: 20px;
    height: 100px;
    padding: 10px;
    background-color:aquamarine;
    display: inline-block;
}
.Box1 {width: 320px;
    margin: 20px;
    height: 370px;
    padding: 10px;
    background-color:aquamarine;
    display: inline-block;
}

.Box2 {width: 320px;
    margin: 20px;
    height: 170px;
    padding: 10px;
    background-color:aquamarine;
    display: inline-block;
}

.Box3 {width: 320px;
    margin: 20px;
    height: 170px;
    padding: 10px;
    background-color:aquamarine;
    display: inline-block; 
    position: relative;
    right: 5px;   
}

.Box4 {width: 320px;
    margin: 20px;
    height: 100px;
    padding: 10px;
    background-color:aquamarine;
    display: inline-block;
    position: relative;
    left:385px;
}