.container {
    width:1200px;
    height:600px;
    border:1px solid black;
    margin:0 auto;
}

.row {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.column1 {
    width:200px;
    height:300px;
    border:1px solid black;
    background: cyan;
}

.column2 {
    width:300px;
    height:300px;
    border:1px solid black;
    background:darkorange;
}

.column3 {
    width:500px;
    height:300px;
    border:1px solid black;
    background:red;
}