<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="Home">               
                    <form action="">
                        <input type="text" id="fname" name="firstname" placeholder="Başlıq">                       
                        <input type="text" id="fsubject" name="firstname" placeholder="Tarix">
                        <textarea placeholder="Xülasə"></textarea>
                    </form>
                </div>              
            </div>
            <button>Əlavə et</button>
        </div>
    </div> 
</body>
<style>
    .Home {
        display: block;
        flex-wrap: nowrap;
        flex-direction: row;


    }

</style>

</html>