.contanier {
    border: solid 1px black;
    min-height: 600px;
    width: 1200px;
    padding: 50px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftbox {
    border: solid 1px black;
    min-height: 300px;
    width: 200px;
    display: inline-block;
    margin: 0px 30px;
    background-color: blue;
}

.middlebox {
    border: solid 1px black;
    min-height: 300px;
    width: 300px;
    display: inline-block;
    margin: 0PX 30PX;
    background-color: red;
}

.rightbox {
    border: solid 1px black;
    min-height: 300px;
    width: 500px;
    display: inline-block;
    margin: 0PX 30PX;
    background-color: green;
}