#articles {
    background: lightgray;
}

.lu-article-item {
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}

.lu-article-item img {
    width: calc(100% + 30px);
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    margin: -15px 0px 0px -15px;
}

.lu-article-item h3 {
    margin-top: 15px;
}

.lu-article-footer {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 15px;
}

.lu-article-footer img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.lu-article-footer span {
    color: gray;
}


/* Feedbacks section */

#feedbacks {}

#team {
    background: lightblue
}